/*
 * Estilos de tu proyecto
 */


 * {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {

  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

.menu {

  position: fixed;
  background: #2C3E50;
  width: 100%;
  top: 0px;
  

}

.menu h3,a,i {

  color: white;

}

.menu h3 {
  padding: 20px;
}

.menu a:hover {
 color:#18BC9C;
 
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
  
}

.profile {

  background-position: center;
  background: #18BC9C;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 400px;
  margin-top: 100px;
  
  

}



